.order-detail-information-container {
  display: flex;
  flex-direction: column;
  min-height: 0;

  @media (min-width: 1024px) {
    flex: 45;
    margin-bottom: 16px;
  }
}

.order-detail-menus-container {
  display: flex;
  flex-direction: column;
  min-height: 0;

  @media (max-width: 1024px) {
    flex: 1;
  }

  @media (min-width: 1024px) {
    flex: 55;
  }
}

.order-detail-menus {
  display: grid;
}
