.container {
  padding: 8px;
  background: lightgray;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  gap: 8px;

  .rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .comment {
    background: #fff;
    padding: 8px;
  }
}
