.container {
  padding: 8px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;

  .content-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    padding: 16px 0;
  }

  .note {
    padding: 16px;
    background: white;
    border-radius: 4px;
  }

  .option-container,
  .button-container {
    display: flex;
    width: auto;
    flex-direction: row;
    align-items: center;
  }

  .option-container {
    gap: 16px;
  }

  .button-container {
    gap: 8px;
  }

  .small {
    width: 30px;
    height: 30px;
  }
}
