/* #region Layout */
.layout {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  max-height: 100%;
  padding: 16px;
  gap: 8px;
}

.layout .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.layout .content {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  max-height: 100%;
}

.layout .content.horizontal {
  display: flex;
  flex-direction: row;
}
/* #endregion */

/* #region Empty Item Container */
.empty-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* #endregion */

/* #region Scroll Wrapper */
.scroll-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: auto;
  min-height: 0;
  height: 100%;
  padding: 16px;
  border: 1px solid black;
}
/* #endregion */

/* #region Form */
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 8px;
}

.form-container {
  padding: 16px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form .content {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 8px;
  overflow: hidden;
}
/* #endregion */

/* #region Grid */
.grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr);
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* #endregion */

/* #region Popup Form */
.popup-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.popup-form .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.popup-form .content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 16px;
  gap: 8px;
  overflow: hidden;
}
/* #endregion */

/* #region Component */

/* #region Input */
.input {
  padding: 12px;
  border-radius: 4px;
}

.input.mandatory-border {
  border: 2px solid #b51200;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.input[type='number'] {
  appearance: textfield; /* Firefox */
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Chrome, Safari */
  margin: 0;
}
/* #endregion */

/* #region Select */
.select-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.select {
  padding: 12px;
  border-radius: 4px;
}
/* #endregion */

/* #region Button */
.button {
  padding: 12px;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button.icon {
  width: 46px;
  height: 46px;
  padding: 0;
}

.button.icon.small {
  width: 30px;
  height: 30px;
  padding: 0;
}

.button.icon.circular {
  border-radius: 46px;
}

.button.icon.circular.small {
  border-radius: 30px;
}

.bottom-button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}
/* #endregion */

/* #endregion */

/* #region Text */
.text-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.text.error {
  color: #b51200;
}
/* #endregion */

/* #region Font Themes */
.form-title {
  font-size: 24px;
  font-weight: bold;
}

.card-item-title {
  font-size: 32px;
  font-weight: bold;
  color: #b57537;
}

.card-item-subtitle {
  font-size: 24px;
  color: #d99937;
}

.modal-header-title {
  font-size: 20px;
  font-weight: bold;
}

.popup-title {
  font-size: 20px;
  color: #fffff0;
}
/* #endregion */

/* #region Card */
.card-item {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.card-item-content-wrapper {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.card-item-content-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 8px;
}

.card-item-note-container {
  border: 1px solid black;
  padding: 8px;
}

.card-scroll-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: auto;
  min-height: 0;
  max-height: 100%;
}
/* #endregion */

/* #region Data Table */
.action-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  height: 100%;
}

div[data-column-id='action-button'][class~='rdt_TableCol'] {
  position: sticky;
  right: 0;
  background-color: inherit;
  border-left: 1px solid lightgray;
  z-index: 2;
}

div[data-column-id='action-button'][role='cell'] {
  position: sticky;
  right: 0;
  background-color: inherit;
  z-index: 0;
  border-left: 1px solid lightgray;
}
/* #endregion */

/* #region Modal */
.react-modal-sheet-header {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.react-modal-sheet-container {
  border-top-left-radius: 16px !important;
  border-top-right-radius: 16px !important;
}

.react-modal-sheet-drag-indicator {
  background-color: black !important;
}

.react-modal-sheet-backdrop {
  pointer-events: auto !important;
}

.modal-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid black;
}

.modal-header-title-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
}
/* #endregion */
