/* Layout */
.layout,
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 85px);
  padding: 16px;

  .layout-content,
  .layout-footer,
  .form-content,
  .form-footer {
    display: flex;
    flex-direction: column;
  }

  .layout-header,
  .form-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    gap: 8px;
  }

  .layout-content,
  .form-content {
    flex: 1;
    min-height: 0;
  }

  .form-content {
    gap: 16px;
  }

  .layout-footer,
  .form-footer {
    margin-top: 16px;
    justify-content: flex-end;
  }

  .scroll-wrapper {
    flex: 1;
    flex-direction: column;
    overflow-y: auto;
    min-height: 0;
    max-height: 100%;
  }
}

.grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr);
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Item */
.card,
.item {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 16px;
}

.card {
  border-radius: 16px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

/* Button */
button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.icon {
  width: 46px;
  height: 46px;
}

button.icon.small {
  width: 30px;
  height: 30px;
}

button.icon.circular {
  border-radius: 46px;
}

button.icon.circular.small {
  border-radius: 30px;
}

.card,
.form {
  button {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

/* Bottom Button (for mobile) */
.bottom-button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

/* Input */
input,
button {
  padding: 12px;
  border-radius: 4px;
}

button.icon {
  padding: 0px;
}

select,
button {
  display: flex;
  align-items: center;
}

input:not(:first-child),
select:not(:first-child),
img:not(:first-child),
.label:not(:first-child),
.text:not(:first-child),
.error {
  margin-top: 8px;
}

.text.error {
  color: #b51200;
}

input.mandatory-border {
  border: 2px solid #b51200;
}

input[type='number'] {
  appearance: textfield; /* Firefox */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Chrome, Safari */
  margin: 0;
}

.danger-text {
  color: #b51200;
}

/* Tables */
.action-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  height: 100%;
}

div[data-column-id='action-button'][class~='rdt_TableCol'] {
  position: sticky;
  right: 0;
  background-color: inherit;
  border-left: 1px solid lightgray;
  z-index: 2;
}

div[data-column-id='action-button'][role='cell'] {
  position: sticky;
  right: 0;
  background-color: inherit;
  z-index: 0;
  border-left: 1px solid lightgray;
}
