.light {
  background-color: #fffff0;
  color: #040202;
}

.light .navbar {
  background-color: #ffffff;
}

.light .scroll-wrapper {
  scrollbar-color: #888 #fffff0;
}

.light .modal {
  background-color: #d6c0b3;
}

.light .modal .scroll-wrapper {
  scrollbar-color: #888 #d6c0b3;
}

.light .item {
  background-color: #e4e0e1;
}

.light .item .scroll-wrapper {
  scrollbar-color: #888 #e4e0e1;
}

.dark {
  background-color: #040202;
  color: #fffff0;
}

.dark .navbar {
  background-color: #2d0c05;
}

.dark .scroll-wrapper {
  scrollbar-color: #555 #040202;
}

.dark .modal {
  background-color: #4b371c;
}

.dark .modal .scroll-wrapper {
  scrollbar-color: #555 #4b371c;
}

.dark .item {
  background-color: #6f4e37;
}

.dark .item .scroll-wrapper {
  scrollbar-color: #555 #6f4e37;
}

/* Color */
.primary {
  background-color: #b57537;
  color: #fffff0;
}

.secondary {
  background-color: #d99937;
  color: #fffff0;
}

.tertiary {
  background-color: #deac76;
  color: #fffff0;
}

.success {
  background-color: #28a745;
  color: #fffff0;
}

.danger {
  background-color: #b51200;
  color: #fffff0;
}

.light .plain {
  background-color: #fffff0;
  color: #040202;
}

.dark .plain {
  background-color: #040202;
  color: #fffff0;
}

.primary .transparent,
.secondary .transparent,
.tertiary .transparent {
  color: #fffff0;
}

.transparent {
  background-color: transparent;
}

/* Color for button */
button.primary {
  border: 1px solid #b57537;
}

button.secondary {
  border: 1px solid #d99937;
}

button.tertiary {
  border: 1px solid #deac76;
}

button.success {
  border: 1px solid #28a745;
}

button.danger {
  border: 1px solid #b51200;
}

.light button.plain {
  border: 1px solid #040202;
}

.dark button.plain {
  border: 1px solid #fffff0;
}

button.transparent {
  border: none;
  box-shadow: none;
}
