.light {
  background-color: #fffff0;
  color: #040202;

  .navbar {
    background-color: #ffffff;
  }

  .scroll-wrapper {
    scrollbar-color: #888 #fffff0;
  }

  .modal {
    background-color: #d6c0b3;

    .scroll-wrapper {
      scrollbar-color: #888 #d6c0b3;
    }
  }

  .item {
    background-color: #e4e0e1;

    .scroll-wrapper {
      scrollbar-color: #888 #e4e0e1;
    }
  }
}

.dark {
  background-color: #040202;
  color: #fffff0;

  .navbar {
    background-color: #2d0c05;
  }

  .scroll-wrapper {
    scrollbar-color: #555 #040202;
  }

  .modal {
    background-color: #4b371c;

    .scroll-wrapper {
      scrollbar-color: #555 #4b371c;
    }
  }

  .item {
    background-color: #6f4e37;

    .scroll-wrapper {
      scrollbar-color: #555 #6f4e37;
    }
  }
}

.primary {
  background-color: #b57537;
  color: #fffff0;
}

.secondary {
  background-color: #d99937;
  color: #fffff0;
}

.success {
  background-color: #28a745;
  color: #fffff0;
}

.danger {
  background-color: #b51200;
  color: #fffff0;
}

.plain {
  background-color: #fffff0;
  color: #040202;
}

.transparent {
  background-color: transparent;
}

button {
  .primary {
    border: 1px solid #b57537;
  }

  .secondary {
    border: 1px solid #d99937;
  }

  .success {
    border: 1px solid #28a745;
  }

  .danger {
    border: 1px solid #b51200;
  }

  .plain {
    border: 1px solid #fffff0;
  }

  .transparent {
    border: 0;
  }
}
