.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: lightgray;
  padding: 16px;

  .form-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 16px;
    overflow: hidden;

    .customer-info {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    .cart-scroll-wrapper {
      flex: 1;
      overflow-y: auto;
      display: flex;
      min-height: 0;
      scrollbar-color: #888 lightgray; /* thumb color, track color */

      .cart-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        .cart-item-with-separator {
          border-bottom: 1px solid black;
        }
      }

      .cart-empty-container {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .form-footer {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    justify-content: flex-end;
  }
}

.separator {
  border-bottom: 1px solid black;
}
