.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
}

.button-primary {
  background-color: #ffb22c;
  border: 1px solid #ffb22c;
  color: #000;
}

.button-secondary {
  background-color: #854836;
  border: 1px solid #854836;
  color: #fff;
}

.button-danger {
  background-color: red;
  border: 1px solid red;
  color: #fff;
}
