.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.input {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
}

.mandatory-border {
  border: 2px solid red;
}

.input-content-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

input[type='number'] {
  appearance: textfield; /* Firefox */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Chrome, Safari */
  margin: 0;
}
