.menu-detail-information-container {
  display: flex;
  flex-direction: column;
  min-height: 0;

  @media (max-width: 1024px) {
    flex: 1;
  }

  @media (min-width: 1024px) {
    flex: 2;
    margin-right: 16px;
  }

  .menu-detail-content {
    display: flex;
    flex-direction: column;
    gap: 8px;

    /* TODO : image nya di bikin responsive (mobile / web) */
    .image {
      width: 300px;
      height: 300px;
      object-fit: fill;
      justify-content: center;
      align-self: center;
    }
  }
}

.menu-detail-reviews-container {
  @media (min-width: 1024px) {
    display: flex;
    flex-direction: column;
    flex: 3;
    min-height: 0;
  }

  .menu-detail-reviews {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
