.menu-detail-information-container {
  display: flex;
  flex-direction: column;
  min-height: 0;
  border-radius: 4px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);

  @media (max-width: 1024px) {
    flex: 1;
  }

  @media (min-width: 1024px) {
    flex: 2;
    margin-right: 16px;
  }

  .menu-detail-content {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 8px;
    height: 100%;

    /* TODO : image nya di bikin responsive (mobile / web) */
    .image {
      width: 300px;
      height: 300px;
      object-fit: fill;
      justify-content: center;
      align-self: center;
    }
  }
}

.menu-detail-reviews-container {
  @media (min-width: 1024px) {
    display: flex;
    flex-direction: column;
    flex: 3;
    min-height: 0;
  }
}

.menu-detail-reviews {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
}
